body {
 	background: url("../images/crystal_background.png");
}


h1 {
	font-size: 36px;
	padding: 10px;
	text-align: center;
	border: 3px solid;
	width: 40%;
	margin: auto;
	font-family: 'Chewy', cursive;
}

h2 {
	text-align: center;
	font-size: 24px;
}

h3 {
	text-align: left;
	font-size: 20px;
	
}

.gem-image {
	height: 200px;
	padding: 20px;

}

.rules {
	margin: 20px;
	line-height: 1.5em;
	border: 3px solid;
	padding: 10px;
	background-color: rgba(229,182,200, 0.75);
	font-family: 'Raleway', sans-serif;
}

.win-number {
	font-size: 30px;
	margin: 20px;
	font-family: 'Chewy', cursive;
}

.points {
	margin: 20px;
	font-family: 'Raleway', sans-serif;
}

#success {
	font-size: 28px;
	font-family: 'Chewy', cursive;
}